:root {
  /* Color combination from */
  /* https://99designs.com/blog/creative-inspiration/color-combinations/ */
  --coffee: #edca82;
  --blue: #097770;
  --orange: #e0cdbe;
  --green: #a9c0a6;
}

body {
  min-height: 100vh;
  width: 100%;
  /* Image from https://freepikpsd.com/media/2019/11/geometric-shape-pattern-png-14-Transparent-Images.png*/
  /* background: url("../images/geometric-pattern.png"),
    linear-gradient(180deg, var(--orange), var(--coffee));
  background-size: 250px auto; */
  background-color: var(--orange);
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Oswald", monospace;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-wrapper {
  height: 15vh;
  width: 100%;
  background-color: var(--blue);
  color: var(--green);
  border-bottom: 3px solid var(--green);
}

.header h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
.header p {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.book-object {
  height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 3px solid var(--blue);
  margin: 20px 10px 0;
  color: var(--blue);
}
.book-cover {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: var(--blue);
  background: var(--coffee);
  background-size: cover;
}
.book-info {
  height: 40%;
  background-color: var(--orange);
  position: relative;
}
.book-info h3 {
  padding-top: 10px;
  font-size: 1.6rem;
  text-align: center;
}
.book-info .book-author {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  padding: 5px 0;
}
.book-pages {
  font-size: 0.9rem;
  line-height: 1.2;
  text-align: center;
}
.book-options {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 4px;
  display: flex;
  justify-content: space-around;
}
.book-btn {
  display: inline-block;
  width: 35px;
  height: 100%;
  border: 1px solid var(--blue);
  border-radius: 7px;
}
.btn-read-book {
  width: 54px;
  padding: 0 3px;
}

.btn-read-book span {
  display: inline-block;
  padding-left: 3px;
}
.btn-delete-book,
.btn-update-book,
.btn-read-book {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: var(--blue);
}
.books-showcase {
  width: 90%;
  max-width: 950px;
  min-height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* book form */
.add-book-form {
  border: 5px solid var(--green);
  background-color: var(--blue);
  color: var(--green);
  min-width: 400px;
  padding: 50px 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-book-form label {
  display: block;
  font-size: 1.3rem;
  padding-bottom: 3px;
}
.add-book-form input {
  display: block;
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: var(--blue);
}
/* add book btn */
.btn {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  background-color: var(--blue);
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 600;
  border-radius: 50px;
  border: 3px solid var(--green);
}
.btn-cancel-form {
  transform: scale(0.5);
  top: 0;
  right: 0;
}
.btn-add-book::before {
  content: "+";
  position: relative;
  bottom: 2px;
}
.btn-cancel-form::before {
  content: "x";
  position: relative;
  bottom: 8px;
  font-size: 3rem;
}
.btn:active {
  color: var(--blue);
  background-color: var(--green);
}
.hidden {
  visibility: hidden;
}
@media (max-width: 786px) {
  .add-book-form {
    min-width: 300px;
  }
}
