@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600;800&display=swap");
html {
  font-size: 10px;
  font-family: "Abhaya Libre", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
:root {
  --coffee: #edca82;
  --blue: #097770;
  --orange: #e0cdbe;
  --green: #a9c0a6;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
}
/* Center content in the middle of the element */
.main-wrapper,
.book-cover,
.book-btn,
.add-book-form,
.header,
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* HEADER */
.header {
  width: 100%;
  font-size: 5rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  overflow: hidden;
}
.header__headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-transform: lowercase;
  letter-spacing: 3px;
}
.header__headings--left {
  width: 60%;
  border-bottom: 1px solid #aaa;
  margin-right: 50vw;
  text-align: right;
}
.header__headings--right {
  font-size: 7rem;
  font-weight: 800;
  width: 60%;
  border-bottom: 1px solid #aaa;
  margin-left: 50vw;
}
.header-info {
  font-size: 2rem;
  margin-top: 2rem;
  color: #888;
}
/* Footer */
.footer {
  padding: 2rem 0 5rem;
  font-size: 2rem;
}
.footer__info__link,
.footer__info__link:active {
  color: #888;
}
.footer__info__link:hover {
  color: black;
}
/* BOOK OBJECT dynamic js */
.book-object {
  height: 50rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #888;
  margin: 1.5rem 0.8rem;
  color: #222;
  border-radius: 0.5rem;
  padding-bottom: 2rem;
}
.book-cover {
  height: 60%;
  flex-direction: row;
  font-size: 5rem;
  background-size: cover;
}
.book-cover-image {
  width: 15rem;
}
.book-info {
  width: 100%;
  padding: 1rem;
  height: 40%;
  color: #444;
  position: relative;
}
.book-info h3 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.book-info .book-author {
  display: block;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.book-pages {
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
}
.book-options {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 4px;
  display: flex;
  justify-content: space-around;
}
/* Book object buttons */
.book-btn {
  width: 4rem;
  height: 4rem;
  opacity: 0.5;
  border: none;
  cursor: pointer;
}
.icon-btn {
  height: inherit;
  width: inherit;
}
.book-btn:hover,
.book-btn:active {
  opacity: 1;
  background: none;
}
.book-read {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.book-read span img {
  width: 3rem;
  height: 3rem;
}
/* BOOKs Object container*/
.books-showcase {
  width: 90%;
  max-width: 950px;
  min-height: 65vh;
  margin: 2rem 0;
  padding: 3rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2rem;
}
/* INPUT FORM */
.add-book-form {
  border: 1px solid #ccc;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 0.5rem;
  background-color: white;
  height: 50rem;
  min-width: 400px;
  padding: 50px 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-book-form label {
  display: block;
  color: #444;
  font-size: 2.2rem;
  padding-bottom: 1rem;
}
.add-book-form input {
  display: block;
  height: 3.5rem;
  width: 80%;
  border: none;
  border-radius: 0.5rem;
  border: 1px solid #aaa;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #444;
  font-family: inherit;
  background: none;
}
#book-read {
  height: 2rem;
  width: 2rem;
  margin-bottom: 3rem;
}
.btn-submit-form {
  /* TEMP */
  font-family: inherit;
  background: none;
  border: none;
  border: 1px solid #888;
  color: #444;
  padding: 1.5rem 4rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn-submit-form:hover {
  background-color: #444;
  color: white;
}

#user-sign-up-btn {
  margin: 1rem 0 2rem;
}
/* BUTTON CREATE BOOK AND CANCEL FORM*/
.btn {
  position: absolute;
  bottom: 10rem;
  right: 20px;
  height: 50px;
  width: 50px;
  background-color: white;
  color: #333;
  font-size: 40px;
  font-weight: 800;
  border-radius: 50px;
  border: 3px solid #888;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn:hover {
  background-color: #555;
  color: white;
}
.btn-add-book {
  position: fixed;
  z-index: 3;
}
.btn-cancel-form {
  transform: scale(0.5);
  top: 0;
  right: 0;
}
.btn-add-book::before {
  content: "+";
  position: relative;
  bottom: 2px;
}
.btn-cancel-form::before {
  content: "x";
  position: relative;
  bottom: 8px;
  font-size: 3rem;
}
.btn:active {
  color: var(--blue);
  background-color: var(--green);
}
.hidden {
  visibility: hidden;
}
@media (max-width: 786px) {
  html {
    font-size: 8px;
  }
  .add-book-form {
    min-width: 95%;
  }
  .add-book-form label {
    padding-left: 1rem;
  }
  .add-book-form input {
    width: 95%;
    margin: 0 auto;
  }
  #book-read {
    margin: 1px 0 2px 20px;
  }
}
